<h1>Edit <%= @post.title %></h1>

<!-- <%= form_for :post, url: post_path, method: :patch do |f| %>
    <% if @post.errors.any? %>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </p>

    <%= f.submit %>

<% end %> -->

<%= render 'form' %>

<%= link_to 'index', posts_path %>
